<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">EazyApp Portal</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="router/home" Match="NavLinkMatch.All">
                <span class="oi oi-ban" aria-hidden="true"></span>UncheckedRegistrations
            </NavLink>
            <ul>
                <li class="nav-item px-1">

                    <NavLink class="nav-link" href="router/unchecked">
                        <span class="oi oi-home" aria-hidden="true"></span> Index
                    </NavLink>
                </li>
                <li class="nav-item px-1">

                    <NavLink class="nav-link" href="router/uncheckedapprovals">
                        <span class="oi oi-play-circle" aria-hidden="true"></span> Initiate Approval
                    </NavLink>
                </li>
            </ul>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="router/home" Match="NavLinkMatch.All">
                <span class="oi oi-circle-check" aria-hidden="true"></span>CheckedRegistrations
            </NavLink>
            <ul>
                <li class="nav-item px-1">

                    <NavLink class="nav-link" href="router/checked">
                        <span class="oi oi-home" aria-hidden="true"></span> Index
                    </NavLink>
                </li>
                <li class="nav-item px-1">

                    <NavLink class="nav-link" href="router/checkedapprovals">
                        <span class="oi oi-check" aria-hidden="true"></span> Approve
                    </NavLink>
                </li>
            </ul>
        </li>

    </ul>
</div>

@code {
    private bool expandSubNav;
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
